<div class="card mb-2">
    <h6 class="card-header">List Survey</h6>
    <div class="card-body table-responsive pb-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Survey Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let survey of surveys; let surveyIndex = index"
                    (click)="selectSurvey(survey, surveyIndex, $event)"
                    [ngClass]="{'bg-primary active': surveyIndex === surveyIndexSelected}">
                    <td>{{ survey.surveyName }}</td>
                    <td>{{ survey.startDate | date: 'medium' }}</td>
                    <td>{{ survey.endDate | date: 'medium' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card" *ngIf="surveySelected">
    <h6 class="card-header">Survey Information</h6>
    <div class="card-body">
        <table class="table table-borderless">
            <tr>
                <th class="w-50">Average Speed</th>
                <td>{{ surveySelected.avgSpeed | number: '.0-2' }} Km/h</td>
            </tr>
            <tr>
                <th class="w-50">Duration</th>
                <td>{{ surveySelected.duration }} min.</td>
            </tr>
            <tr>
                <th class="w-50">Total Distance</th>
                <td>{{ surveySelected.totalDistance | number: '.0-2' }} m</td>
            </tr>
        </table>
    </div>
</div>