<div class="card">
    <h6 class="card-header">List Trip</h6>
    <div class="card-body table-responsive pb-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Survey Name</th>
                    <!-- <th>Start City</th>
                    <th>Start Street Name</th> -->
                    <th>Start Date</th>
                    <th>End Date</th>
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trip of trips" (click)="selectTrip(trip, $event)">
                    <td>{{ trip.surveyName }}</td>
                    <!-- <td>{{ trip.startCity }}</td> -->
                    <!-- <td>{{ trip.startStreetName }}</td> -->
                    <td>{{ trip.startDate | date: 'medium' }}</td>
                    <td>{{ trip.endDate | date: 'medium' }}</td>
                    <!-- <td class="text-right">
                        <button class="btn btn-primary" (click)="selectTrip(trip, $event)">Select</button>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>