<div class="card">
    <h6 class="card-header">List Trip</h6>
    <div class="card-body table-responsive pb-0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Survey Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trip of trips; let tripIndex = index" (click)="selectTrip(trip, tripIndex, $event)"
                    [ngClass]="{'bg-primary active': tripIndex === tripIndexSelected}">
                    <td>{{ trip.surveyName }}</td>
                    <td>{{ trip.startDate | date: 'medium' }}</td>
                    <td>{{ trip.endDate | date: 'medium' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>